@import url(/bootstrap/bootstrap-reboot.scss);
@import url(/bootstrap/bootstrap-grid.scss);


/** 字型 **/
.logotype_en {  font-family: "Cinzel Decorative", "Libre Caslon Display", "Italiana", sans-serif;}
// <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.primary-font_td {  font-family: "Shippori Mincho B1", serif;}

.primary-font_en {  font-family: "Garamond", "Georgia", "Times New Roman", Times, serif;}

.secondary-font_en {  font-family: "Monsieur La Doulaise", "Apple Chancery", cursive, serif;}

/** 字體大小 **/
.fs-7{font-size: 0.45em;}

.fs-8{font-size: 0.75em;}

.fs-9{font-size: 1.125em;}

/** Color **/
// 定義變量
$primary-color:    #974315;
$secondary-color:  #778899;
$background-color: #fcf2ed;
$text-color:       #9a875f;

#hero, .name, .host, .date, .year, .venue-name, p {  color: $primary-color;}

.subhead, #rundown, #wedding p {  color: $secondary-color;}

.bg-color { background-color: $background-color;}

.text-color{ color: $text-color;}

/*排版*/
.container{ max-width: 500px;}
@media (min-width: 576px) {
  .container-sm{ max-width: 500px;}
}
@media (min-width: 768px) {
  .container-md{ max-width: 720px;}
}
.pt-6 {  padding-top: 4rem;}
.pt-7 {  padding-top: 6rem;}
.pt-8 {  padding-top: 7.875rem;}
.pt-9 {  padding-top: 8.5rem;}

.pb-6 {  padding-bottom: 4rem;}
.pb-7 {  padding-bottom: 6rem;}
.pb-8 {  padding-bottom: 8rem;}
.pb-9 {  padding-bottom: 9rem;}

.mt-6{ margin-top: 6rem;}


img{ width: 100%;} 

/** Section_Hero **/
#hero {
  .banner{
    padding-top: 5.25rem;
    img {
    display: block;
    border-radius: 60vw 60vw 0 0;
    box-shadow: #e9d4bd 8px 8px 0px;
    z-index: -99;
    }
  }
}

.hero-icon{
  position: relative;
  top: 0;
  right: 1.5rem;
  z-index: -100;
  flex: 1 1 0;
  padding-left: 0;
  padding-right: 0;
}

.hero-title{
  // 定位
    display: flex;
    position: absolute;
    top: 4vh;
    margin-left: 0;
    margin-right: 0;
}

.title {
    width: -moz-fit-content;
    --min-size: 80;
    --max-size: 120;
    --font-size: calc((var(--min-size) * 0.5px) + (var(--max-size) - var(--min-size)) * ((80cqw - 320px) / (1920 - 320)));
    font-size: clamp(var(--min-size) * 0.7px, var(--font-size), var(--max-size) * 5px);
    line-height: clamp(var(--min-size) * 0.7px, var(--font-size), var(--max-size) * 1px);
    text-shadow: #fcf2ed 1px 1px 0px;
    flex: 3 0 0;
  span {  font-size: 0.35em;}
}


.subtitle {
  width: -moz-fit-content;
  --min-size: 25;
  --max-size: 100;
  --font-size: calc((var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(var(--min-size) * 1px, var(--font-size), var(--max-size) * 1px);
  line-height: clamp(var(--min-size) * 1.75px, var(--font-size), var(--max-size) * 2px);
  text-align: center;
}

.decotext{
  text-align: center;
}

/** Section_wedding **/
#wedding {
  img {
    display: block;
    margin: 0 auto;
    width: clamp(250px, 40vw , 350px );
  }
  p{
    --min-size: 14;
    --max-size: 20;
    --font-size: calc(
      (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
    font-size: clamp(  var(--min-size) * 1px,  var(--font-size),  var(--max-size) * 0.875px);
  }
}

.subhead{
  --min-size: 28;
  --max-size: 42;
  --font-size: calc(
    (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 1px,  var(--font-size),  var(--max-size) * 1px);
}
.name{
  font-size: 1.5rem;
  }
.host{
  --min-size: 16;
  --max-size: 24;
  --font-size: calc(
    (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 1px,  var(--font-size),  var(--max-size) * 1px);
}


/** Section_gallery **/
.gallery {
  padding: 4rem 1.5rem 4rem 1.5rem;
  align-items: end;
  --min-size: 12;
  --max-size: 20;
  --font-size: calc(
    (var(--min-size) * 0.875px) + (var(--max-size) - var(--min-size)) *
      ((100cqw - 320px) / (1920 - 320))
  );
  font-size: clamp(
    var(--min-size) * 0.875px,
    var(--font-size),
    var(--max-size) * 1px
  );
  line-height: clamp(
    var(--min-size) * 1.5px,
    var(--font-size) * 1.75px,
    var(--max-size) * 1px
  );
  .row{ position: relative;}
  .photo-background{
    img{
    display: block;
    box-shadow: #e9d4bd 8px 8px 0px;
    }
  }
  .img-border{
    img{
    border: #974315 5px solid;
    display: block;
    }
  }
}


#when{
  padding: 3.5rem 1.5rem 4rem 1.5rem;
  p{
  //字體
  --min-size: 16;
  --max-size: 24;
  --font-size: calc(
    (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 1px,  var(--font-size),  var(--max-size) * 1px);  
  }
}

.date {
  //字體
  --min-size: 48;
  --max-size: 80;
  --font-size: calc(
    (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 0.75px,  var(--font-size),  var(--max-size) * 1.25px);  
  line-height:calc(
    (var(--min-size) * 0.5px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
}

.year{
 //字體
  --min-size: 24;
  --max-size: 60;
  --font-size: calc(
    (var(--min-size) * 0.5px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 1px,  var(--font-size),  var(--max-size) * 1.5px);
}

.rundown-icon{
  margin: 0 auto;
}

.site{  font-size: clamp(0.875rem , 0.875rem + 0.5vw , 1.5rem);}
.activity{  font-size: clamp(1rem , 1rem + 0.5vw , 2.5rem);}

#venue{padding: 3.5rem 1.5rem 0 1.5rem;}

.venue-name{
  //字體
  --min-size: 42;
  --max-size: 120;
  --font-size: calc(
    (var(--min-size) * 0.25px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
  font-size: clamp(  var(--min-size) * 0.8px,  var(--font-size),  var(--max-size) * 1.5px);  
  p{  margin-bottom: 0;}
}

.map{
  width: clamp{};
}


@media (min-width: 768px){
  #hero {
    .banner{
      padding-top: 1rem;
      img {
      display: block;
      border-radius: 60vw 60vw 0 0;
      box-shadow: #e9d4bd 8px 8px 0px;
      z-index: -99;
      }
    }
  }
  .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }
  .hero-title{
  // 定位
  position: absolute;
  top: 8vh;
  }
  .title {
    width: -moz-fit-content;
    --min-size: 100;
    --max-size: 150;
    --font-size: calc((var(--min-size) * 0.5px) + (var(--max-size) - var(--min-size)) * ((80cqw - 320px) / (1920 - 320)));
    font-size: clamp(var(--min-size) * 0.7px, var(--font-size), var(--max-size) * 5px);
    line-height: clamp(var(--min-size) * 0.1px, var(--font-size), var(--max-size) * 0.35px);
    text-shadow: #fcf2ed 1px 1px 0px;
    flex: 3 0 0;
  }
  .hero-icon{
    display: none;
  }
  .hero-subtitle{
    position: absolute;
    bottom: 0;
  }
  .subtitle {
    font-size: 2.5rem;
    height: auto;
    text-align: left;
    align-self: end;
  }
  .decotext{
    text-align: left;

    align-self: end;
  }
  .name{
    font-size: 2rem;
  }
  .host{
    font-size: 1.5rem;
  }
  .calendar{
    width: 50%;
    margin: 0 auto;
  }

  #rundown{
    padding: 2rem 0;
    .row{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .col-md-12{
        display: flex;
        flex-direction: row;
        padding: 1.5rem 0;
      }
    }
  }
  .rundown-icon{
  width: 65%;;
  }
  .time {
  font-size: 2rem;
  line-height: 1rem;
  span{ font-size: 0.5em;}
  padding: 1.25rem 0 0 0;
  }
  .site{  font-size: clamp(1rem , 1rem + 0.5vw , 1.2rem);}
  .activity{  font-size: clamp(1rem , 1rem + 1.25vw , 1.5rem);}
  .venue-name{
    //字體
    --min-size: 28;
    --max-size: 60;
    --font-size: calc(
      (var(--min-size) * 0.25px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
    font-size: clamp(  var(--min-size) * 0.8px,  var(--font-size),  var(--max-size) * 1.5px);  
    p{  margin-bottom: 0;}
  }
  .map{width: 100%;}
}